body { font-size: 20px;
  text-align: center;
  background-image: url(https://file.garden/Zl9pI6rtSjkbw9F6/homework/bg1.png);
  background-size: contain;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.titulo {color: #f2a516;  text-decoration: underline;}
.textbg {background-color: rgba(255, 255, 255, 0.75)}
.image1 {width: 50%;}
.whatsapp {position: fixed;bottom: 10px;right: 10px}
.header1 { background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.social { display: flex;
align-self:center;
justify-content: space-evenly}
.footer1 { background-color: rgba(255, 255, 255, 0.75);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly}
.nose { display: flex;
flex-direction: column;
align-self:center;
}
a:hover{ color:yellow;}
