body
{
    background-color: #646464;
    text-align: center;
}
canvas
{
    background: url("https://file.garden/Zl9pI6rtSjkbw9F6/telescope_view.png.png") no-repeat;
    background-size: cover;
    border: 2px solid black;
}
